.cart {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: auto;
}
#BtnInMobile{
    display: none;
}
.cart h1 {
  padding-top: 2%;
  color: rgb(76, 76, 76);
  text-align: center;
  padding-left: 2%;
  font-size: 40px;
}

.cart .progress {
  position: relative;
  margin-top: 4%;
  width: 70%;
  height: auto;
  user-select: none;
  display: flex;
  margin-left: 15%;
}
.cart .progress hr {
  position: absolute;
  top: 40%;
  height: 3px;
  left: 0;
  margin-left: 15%;
  background-color: rgb(108, 108, 108);
  width: 70%;
}
.cart .progress .number {
  width: 100%;
  height: auto;
}

.cart .progress .number .num1 {
  width: 100%;
  position: relative;
}

.cart .progress .number .num1 .circle {
  width: 55px;
  margin-left: 40%;
  background-color: rgb(238, 238, 238);
  border-radius: 60px;
  height: 55px;
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(209, 209, 209);
  line-height: 50px;
}
.cart .progress .number .num1 .circle1 {
  background-color: rgb(246, 62, 1);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(246, 62, 1);
}

.cart .progress .number .num1 .description {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  height: 30px;
  font-size: 18px;
  color: rgb(79, 79, 79);
  text-align: center;
}

/* cart items */
.cart .cartItem {
  position: relative;
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  height: auto;
  padding-bottom: 5%;
}
.cart .cartItem .top {
  width: 100%;
  height: auto;
  display: flex;
}
.cart .cartItem .top h6 {
  width: 60%;
  font-size: 20px;
  padding-left: 4%;
}
.cart .cartItem .top h6 span {
  color: rgb(255, 68, 0);
}

.cart .cartItem .top button {
  width: 180px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 3%;
  background-color: rgb(255, 72, 0);
  height: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 20%;
  transition: all 0.3s;
}
.cart .cartItem .top button:hover {
  box-shadow: 0px 0px 10px 4px rgb(105, 105, 105);
}
.cart .cartItem .cartTable {
  width: 100%;
  height: auto;
  border: 1px solid rgb(169, 169, 169);
}

.cart .cartItem .cartTable .heading {
  width: 100%;
  display: flex;
  height: 60px;
  background-color: rgb(215, 215, 215);
  border: 1px solid rgb(169, 169, 169);
}
.cart .cartItem .cartTable .heading .pics {
  width: 25%;
}
.cart .cartItem .cartTable .heading .names {
  width: 28%;
  text-align: center;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}

.cart .cartItem .cartTable .heading .price {
  width: 12%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}

.cart .cartItem .cartTable .heading .qty {
  width: 24%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}

.cart .cartItem .cartTable .heading .total {
  width: 13%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}

.cart .cartItem .cartTable .heading .remove {
  width: 10%;
  text-align: center;
}
.cart .cartItem .cartTable .data {
  width: 100%;
  display: flex;
  height: auto;
  border-bottom: 1px solid rgb(169, 169, 169);
}

.cart .cartItem .cartTable .data .pics {
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}
.cart .cartItem .cartTable .data .FoodPics {
    position: relative;
margin: 1%;
  width: 25%;
  height: 15vw;
}
.cart .cartItem .cartTable .data .CoffeePics {
    position: relative;
margin: 1%;
  width: 25%;
  height: 15vw;
}
.cart .cartItem .cartTable .data .JuicePics {
    position: relative;
margin: 1%;
  width: 25%;
  height: 15vw;
}
.cart .cartItem .cartTable .data .DrinkPics {
    position: relative;
margin: 1%;
  width: 25%;
  height: 15vw;
}

.cart .cartItem .cartTable .data .names {
  width: 28%;
  font-size: 20px;
}
.cart .cartItem .cartTable .data .names p {
  width: 80%;
  margin-top: 40%;
  margin-left: 10%;
  text-align: center;
  font-weight: 600;
  word-break: break-all;
}
.cart .cartItem .cartTable .data .price {
  width: 12%;
  text-align: center;
  font-size: 20px;
}
.cart .cartItem .cartTable .data .price p {
  width: 100%;
  margin-top: 95%;
  font-weight: 600;
  word-break: break-all;
}
.cart .cartItem .cartTable .data .qty {
  width: 24%;
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
}
.cart .cartItem .cartTable .data .qty .button {
  width: 100%;
  display: flex;
  margin-top: 32%;
}

.cart .cartItem .cartTable .data .qty .button .left {
  width: 20%;
  margin-left: 18%;
  background-color: rgb(235, 235, 235);
  font-size: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer;
  transition: all 0.2s;
}
.cart .cartItem .cartTable .data .qty .button .middle {
  width: 30%;
  border: 2px solid rgb(235, 235, 235);
  color: rgb(57, 57, 57);
  padding-top: 2%;
  padding-bottom: 2%;
}

.cart .cartItem .cartTable .data .qty .button .right {
  width: 20%;
  background-color: rgb(235, 235, 235);
  font-size: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: all 0.2s;
  cursor: pointer;
}

.cart .cartItem .cartTable .data .qty .button .right:hover,
.cart .cartItem .cartTable .data .qty .button .left:hover {
  background-color: rgb(238, 38, 16);
  color: white;
}
.cart .cartItem .cartTable .data .total {
  width: 13%;
  text-align: center;
  font-size: 20px;
}
.cart .cartItem .cartTable .data .total p {
  width: 100%;
  margin-top: 85%;
  font-weight: 600;
  word-break: break-all;
}
.cart .cartItem .cartTable .data .remove {
  width: 10%;
  color: red;
  line-height: 500%;
  font-size: 30px;
  text-align: center;
  margin-top: 4.1%;
}

/* bottom */

.cart .cartItem .bottom {
  width: 100%;
  height: 120px;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(193, 193, 193);
  display: flex;
}

.cart .cartItem .bottom .more {
  width: auto;
  position: relative;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 3%;
  background-color: rgb(255, 72, 0);
  height: 40px;
  font-size: 20px;
  color: white;
  padding: 1% 3% 3% 3%;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 4%;
}
.cart .cartItem .bottom .more:hover {
  box-shadow: 0px 0px 10px 4px rgb(105, 105, 105);
}
.cart .cartItem .bottom .subtotal {
  width: 70%;
  height: auto;
  margin-left: 5%;
  position: relative;
}
.cart .cartItem .bottom .subtotal h1 {
  font-size: 20px;
  position: absolute;
  top: -10%;
  right: 4%;
}

.cart .cartItem .bottom .subtotal h1 span {
  color: rgb(243, 39, 8);
}

.cart .cartItem .bottom .subtotal button {
  float: right;
  border-radius: 8px;

  width: auto;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 7%;
  margin-right: 8%;
  border: none;
  font-size: 20px;
  padding: 1% 5% 1% 5%;
  color: rgb(0, 0, 0);
  background-color: rgb(4, 204, 231);
}
.cart .cartItem .bottom .subtotal button:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 4px rgb(105, 105, 105);
}

.cart .cartItem .bottom .subtotal .disables {
  user-select: none;
}
.cart .cartItem .bottom .subtotal .disables:hover {
  cursor: text;
  box-shadow: none;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .cart {
    margin-top: 22vw;
  }

  .cart h1 {
    font-size: 5vw;
  }

  .cart .progress {
    margin-top: 5%;
    width: 100%;

    margin-left: 0%;
  }
  .cart .progress hr {
    height: 0.7vw;
  }
  .cart .progress .number {
    width: 100%;
    height: auto;
  }

  .cart .progress .number .num1 {
    width: 100%;
    position: relative;
  }

  .cart .progress .number .num1 .circle {
    position: relative;
    width: 15vw;
    margin-left: 30%;

    height: 15vw;
    padding: 2vw 2vw;
    text-align: center;
    font-size: 4vw;
  }

  .cart .progress .number .num1 .circle span {
    position: absolute;
    top: 0vw;
    width: 100%;
    height: 100%;
    line-height: 14vw;
    left: 0%;
  }
  .cart .progress .number .num1 .description {
    height: auto;
    font-size: 3vw;
  }

  /* cart items */
  .cart .cartItem {
    width: 92%;
    margin-left: 4%;
  }
  .cart .cartItem .top {
    width: 100%;
    height: auto;
    display: flex;
  }
  .cart .cartItem .top h6 {
    width: 50%;
    font-size: 3.9vw;
    padding-left: 4%;
  }

  .cart .cartItem .top button {
    width: 30vw;

    margin-top: 10%;
    height: 10vw;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
  }





  
.cart .cartItem .cartTable {
 
    overflow-y: auto;

  }
  
  .cart .cartItem .cartTable .heading {
    width: 300vw;
    display: flex;
    height: auto;
  
  }
  .cart .cartItem .cartTable .heading .pics {
    width: 25%;
  }
  .cart .cartItem .cartTable .heading .names {
    width: 38%;
    margin-left: 2%;
    text-align: center;
    font-size: 6vw;
    padding-left: 7%;
  }
  
  .cart .cartItem .cartTable .heading .price {
    width: 20%;
    line-height:auto;
    text-align: right;
    margin-left: 0%;
    padding-left: 4%;
    font-size: 6vw;
  }
  
  .cart .cartItem .cartTable .heading .qty {
    width: 36%;
    line-height: auto;

    font-size: 6vw;
    margin-left: 8%;
  }
  
  .cart .cartItem .cartTable .heading .total {
    width: 16%;
    padding-left:2%;
    line-height: auto;

    font-size: 6vw;
  }
  
  .cart .cartItem .cartTable .heading .remove {
    width: 15%;
    text-align: center;
  }
  .cart .cartItem .cartTable .data {
    width: 300vw;
 
  }
  

  .cart .cartItem .cartTable .data .FoodPics {
    
  margin: 1%;
    width: 25%;

    height: 35vw;
  }
  .cart .cartItem .cartTable .data .CoffeePics {
    margin: 1%;
    width: 25%;

    height: 35vw;
  }
  .cart .cartItem .cartTable .data .JuicePics {
    margin: 1%;
    width: 25%;

    height: 35vw;
  }
  .cart .cartItem .cartTable .data .DrinkPics {
    margin: 1%;
    width: 25%;

    height: 35vw;
  }
  
  .cart .cartItem .cartTable .data .names {
    width: 34%;
    font-size: 6vw;
  }
  .cart .cartItem .cartTable .data .names p {
    width: 100%;
    margin-top: 25%;
    margin-left: 0%;
    text-align: center;
 
  }
  .cart .cartItem .cartTable .data .price {
    width: 20%;
    text-align: center;
  
    font-size: 6vw;
  
  }
  .cart .cartItem .cartTable .data .price p {
    width: 100%;
    margin-top: 42%;
    font-weight: 600;
    word-break:normal ;
  }
  .cart .cartItem .cartTable .data .qty {
    width: 34%;
    text-align: center;
    font-size: 6vw;
    margin-top: 2%;
  }
  .cart .cartItem .cartTable .data .qty .button {
    width: 100%;
    display: flex;
    margin-top: 12%;
  }
  
  .cart .cartItem .cartTable .data .qty .button .left {

  
    font-size: 7vw;
    padding-top: 1%;
  
  }
  .cart .cartItem .cartTable .data .qty .button .middle {
 
    font-size: 6vw;
    padding-top: 1%;
    padding-bottom: 2%;
  }
  
  .cart .cartItem .cartTable .data .qty .button .right {
    font-size: 7vw;
    padding-top: 1%;
  }
  

  .cart .cartItem .cartTable .data .total {
    width: 13%;
    text-align: center;
    font-size: 6vw;
  }
  .cart .cartItem .cartTable .data .total p {
    width: 100%;
    margin-top:65%;
    font-weight: 600;
    word-break: break-all;
  }
  .cart .cartItem .cartTable .data .remove {
 
    line-height: 250%;
    font-size: 7vw;
    text-align: center;
    margin-top: 4.1%;
  }



  
/* bottom */

.cart .cartItem .bottom {
 width: 300vw;
    height: auto;
padding-bottom: 5%;
    display: flex;
  }
  
  .cart .cartItem .bottom .more {
    width: auto;
    margin-top: 4%;
 
  
    font-size: 4vw;

    padding: 1% 3% 2.5% 3%;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 4%;
  }
 
  .cart .cartItem .bottom .subtotal {
    width: 70%;
    height: auto;
    margin-left: 5%;
 
   
  }
  .cart .cartItem .bottom .subtotal h1 {
    font-size: 4vw;
    position: absolute;
    top: 6%;
    right: 0%;
  }
  
  
  
  .cart .cartItem .bottom .subtotal button {
position: relative;
bottom: 0;
right: 0;
float: right;
    border-radius: 8px;
  
    
    margin-top: 10%;
    margin-right: 2%;
    border: none;
    font-size: 4vw;
    padding: 1% 5% 1% 5%;
    
  }
  #BtnInMobile{
    display: flex;
}
}
