html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* header */

header{
z-index: 99;
position: relative;
position: fixed;
display: flex;
width: 100%;
height: 70px;
background-color: #ffffff;
}
/* header .logo */
header .logo{
  position: relative;
width: 12vw;
height: 80%;
margin-left: 3%;
margin-top: 0.5%;
cursor: pointer;
}

/* search */
header .search{
position: relative;
width: 50%;
}
header .search i{
position: absolute;
top: 26%;
color: rgb(255, 0, 0);
font-size: 25px;
left: 23%;
}

header .search input{
margin-left: 20%;
width: 70%;
margin-top: 2%;
height: 40px;
text-transform: uppercase;
border: 2px solid rgb(243, 11, 11);
padding-left: 10%;
outline: none;
font-size: 18px;
color: rgb(255, 111, 0);
transition: all 0.3s;
}

/* not item inside search */
#searchHeading{
text-align: center;
font-weight: 400;
cursor: text;
font-size: 18px;
color: rgb(255, 111, 0);
}
header .search input[type="search"]::-webkit-search-decoration,
header .search input[type="search"]::-webkit-search-cancel-button,
header .search input[type="search"]::-webkit-search-results-button,
header .search input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
header .search input:focus{

border: 2px solid rgb(243, 11, 11);

}
header .search .suggestion{
display: none;
position: absolute;
top: 74%;
left: 20%;
z-index: 99;
height: 165px;
overflow: hidden;
text-transform: uppercase;
width: 70%;
border: 2px solid rgb(243, 11, 11);
background-color: #fff;
box-shadow: 0px 7px 10px 1px rgb(46, 46, 46);
}




header .search .suggestion li{
position: relative;
display: block;
text-align: center;
font-size: 19px;
padding-bottom: 1%;
margin: 0.4% 0% 1% 0%;
cursor: pointer;
padding-top: 1%;
font-weight: 400;
color: rgb(255, 111, 0);
transition: all 0.3s;
}
header .search .suggestion .fixed{
position: absolute;
top: 25%;
left: 5%;
}


header .search .suggestion li:hover{
background-color: rgb(243, 243, 243);
border-radius: 60px;
}
/* links */
header .links{
position: relative;
list-style: none;
display: flex;
width: 33%;
}
header .links li{
position: relative;
margin-right: 2%;
width: auto;
cursor: pointer;
height: 70px;
margin-left: 1%;

}


header .links  #user{
display: flex;
height: 70px;
position: relative;
width: 180px;
}
header .links #user img{
border-radius: 60px;
}

header .links #login{
display: flex;
height: 70px;
position: relative;
width: 180px;
}


header .links #login i{
  margin-left: 20%;
  font-size: 30px;
}



/* user profile */
.profileImg{

  position: relative;
  margin-top: 47%;
  width: 2.8vw;
  height: 60%;
  border-radius: 60px;
  margin-left: 7%;
}

header .links li i{
font-size: 22px;
color: rgb(255, 98, 0);
line-height: 70px;
cursor: pointer;
}
header .links li .heading{
color: rgb(255, 98, 0);
font-weight: 600;
font-size: 19px;

}
header .links li #heading1{
position: absolute;
top: -35%;
left: 40%;
color: rgb(255, 98, 0);
font-weight: 600;
font-size: 19px;
margin-top: 27%;
}
header .links li #heading2{
position: absolute;
top: -38%;
left: 40%;
color: rgb(255, 98, 0);
font-weight: 600;
font-size: 19px;
margin-top: 27%;
}
header .links .cart{
position: absolute;
top: 20%;
right: 1%;
color: rgb(255, 0, 0);
font-size: 35px;
cursor: pointer;
}

header .links #count{
position: absolute;
top: 0%;
right: -10%;
border-radius: 60px;
width: 50%;
text-align: center;
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-size: 12px;
}


/* header page */
header .pages{
position: absolute;
top:100.2%;
left: 0;
display: flex;
width: 80%;
height: auto;
padding-bottom: 2%;
margin-left: 10%;
background-color: #fff;
display: none;
}

header .pages .page{
width: 25%;
list-style: none;
}

header .pages .page h1{
font-size: 20px;
padding-left: 16%;
margin-bottom: 8%;
font-weight: 700;
color: rgb(0, 0, 0);
}

header .pages .page li{
font-size: 18px;
margin-top: 5%;
z-index: 98;
font-weight: 600;
color: rgb(66, 66, 66);
padding-left: 16%;
transition: all 0.2s;
}
header .pages .page li:hover{
color: red;
padding-left: 18%;
}


/* clientOption */
header .clinetOption{
position: absolute;
display: none;
top: 100.2%;
right: 2.2%;
z-index: 98;
width: 280px;
height: auto;
background-color: rgb(255, 255, 255);
}


header .clinetOption div{
width: 120px;
margin-top: 3%;
margin-left: 5%;
float: left;
cursor: pointer;
list-style: none;
}


header .clinetOption div i{
font-size: 30px;
color: rgb(255, 123, 0);
transition: all 0.3s;
padding-left: 35%;
}
header .clinetOption div h1{
font-size: 18px;
font-weight: 500;
text-align: center;
margin-top: -2%;
color: rgb(255, 123, 0);
transition: all 0.3s;
}
header .clinetOption div:hover i{
color: rgb(50, 50, 50);
}
header .clinetOption div:hover h1{
color: rgb(50, 50, 50);
}











/* carsouel */
.div1{
position: relative;
 width: 100%;
  height:auto;
z-index: 10;
}


.div1 .imgs-section{
   width: 100vw;
  height: 98vh;
    position: relative;
}



.div1 .details{
position: absolute;
bottom:0%;
left: 0;
color: rgb(255, 255, 255);
z-index: 1;
width: 100%;
background:none;
overflow: hidden;
text-align: center;
}
.div1 .details #hh1{
padding-top: 0%;
width: 80%;
margin-left: 10%;
font-size: 3.8vw;
text-shadow: 1px 2px 20px rgb(2, 2, 2);
transition: all 0.3s;
}
.div1 .details button{
width: auto;
margin-bottom: 3%;
padding: 1% 4% 1% 4%;
cursor: pointer;
color: white;
font-size: 1.4vw;
border: none;
margin-top: 1%;
margin-left: 2%;
border-radius: 4px;
background-color:rgb(255, 38, 0);
transition: all 0.3s;
box-shadow: 0px 0px 20px 7px rgb(56, 56, 56);
}
/* swiper customized */

#mySwiper .swiper-button-next {
  color: rgb(0, 0, 0);
  right: -1.1%;
  height: 10vh;
  width: 6.8vw;
  transform: rotate(90deg);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  transition: all 0.4s;
}




#mySwiper .swiper-button-prev {
color: rgb(0, 0, 0);
  left: -1%;
  height: 10vh;
  width: 6.8vw;
  transform: rotate(90deg);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  transition: all 0.4s;

}
#mySwiper .swiper-button-next:hover,#mySwiper .swiper-button-prev:hover {
  background-color: rgb(248, 53, 4);
color: white;
}
#mySwiper .swiper-button-next::after, #mySwiper .swiper-button-prev::after {
    content: "";
}


#mySwiper .swiper-button-next::before{
    content: "NEXT";
    margin-top: -16%;
    font-size: 1.4vw;
  word-spacing: 2cm;
}
 #mySwiper .swiper-button-prev::before {
    content: "PREV";
    margin-top: 16%;
       font-size: 1.4vw;

  word-spacing: 2cm;
}







/* footer */
footer{
clear: both;
height: auto;
padding-bottom: 3%;
background-color: #1a1a1a;
}
footer .footer{
position: relative;
width: 100%;
display: flex;
height: auto;

}
/* lega */
footer .footer .legal{
padding-left: 5%;
width: 33%;
list-style: none;
}
footer .footer .legal h1{
margin-top: 15%;
font-size: 30px;
color: white;
margin-left: 2%;
margin-bottom: 6%;
}
footer .footer .legal li{
margin-top: 4%;
text-align: left;
font-size: 19px;
color: white;
margin-bottom: 2%;
}
footer .footer .legal li a{
transition: all 0.3s;

}
footer .footer .legal li a:hover{
padding-left: 4%;
cursor: pointer;
color: #0ac0ee;
}





/* menu */
footer .footer .menu{
padding-left: 5%;
width: 33%;
list-style: none;
}

footer .footer .menu h1{
margin-top: 15%;
font-size: 30px;
color: white;
margin-left: 2%;
margin-bottom: 6%;
}
footer .footer .menu li{
margin-top: 4%;
text-align: left;
font-size: 19px;
color: white;
margin-bottom: 2%;
}
footer .footer .menu li a{
transition: all 0.3s;

}
footer .footer .menu li a:hover{
padding-left: 4%;
cursor: pointer;
color: #0ac0ee;

}
/* timing */
footer .footer .timing{
width: 35%;
list-style: none;
}
footer .footer .timing h1{
margin-top: 12%;
font-size: 30px;
color: white;
margin-bottom: 4%;
}
footer .footer .timing li{
display: block;
margin-top: 2%;
text-align: left;
font-size: 19px;
color: white;
margin-bottom: 2%;
}
footer .footer .timing li span{
margin-right: 2%;
color: rgb(214, 214, 214);
}
footer .footer .timing li #note{
color:rgb(255, 0, 0);
font-weight: 500;
}
footer .footer .timing li #bold{
color:orange;
font-weight: 500;
margin-left: 2%;

}


footer .copyright{
width: 100%;
margin-top: 2%;
display: flex;
font-size: 18px;
font-weight: 600;
color: white;
}
footer .copyright hr{
width: 25%;
height: 0.5px;
background-color: rgb(236, 236, 236);
border: none;
}
footer .copyright span{
color: rgb(5, 177, 215);
padding-left: 0.5%;
}


.b{
width: 100%;
height: 100%;
position: fixed;
z-index: 999;
overflow: hidden;
background-color: #fff;
}
.bg{
margin-top: 10%;
width: 50%;
margin-left: 25%;
height: 50%;
position: fixed;
z-index: 999;
background-color: #fff;
}

.bg .loader{
width: 100%;
}
.bg .loader >div{
position: unset !important;
}
.image{
object-fit: contain;
width: 100% !important;
position: relative !important;
height: unset !important;
}



/* cooking image section */

.cookingMain{
box-shadow: 0px 0px 12px rgb(131, 131, 131);
position: absolute;
bottom: 0.4%;
right: 0.3%;
background-color: rgb(255, 255, 255);
width: 200px;
height: 110px;
border-radius: 30px;
position: fixed;
z-index: 99;
}
.cookingMain .cookingMain{
position: relative;
}



.cookingMain .cookingsection h6{
position: absolute;
bottom: -40%;
left: 15%;
font-size: 20px;
color: rgb(244, 111, 87);
z-index: 99;  
text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.cookingMain .cookingsection button{

width: 30px;
color: rgb(251, 31, 31);
padding-right: 9%;
font-size: 25px;
border-top-right-radius: 40px;
border: none;
height: 30px;
position: absolute;
top: 0;
cursor: pointer;
right: 0;
}
.cookingMain .cookingsection .cookImage{
width: 100px;
border-radius: 20px;
margin-left: 25%;
height: 20px;
}

.cookingMain .cookingsection .cookImage >div{
position: unset !important;
}
.image{
object-fit: contain;
width: 100% !important;
position: relative !important;
height: unset !important;
}



/* gallery swiper btn */
/* swiper customized */

#mySwiper1 .swiper-button-next {
  color: rgb(0, 0, 0);
  right: -1.1%;
  height: 60px;
  width: 50px;
  box-shadow: 0px 0px 30px rgb(192, 192, 192);
color: white;
  background-color : rgb(136, 136, 136);
}




#mySwiper1 .swiper-button-prev {
color: rgb(0, 0, 0);
  box-shadow: 0px 0px 30px rgb(192, 192, 192);
  left: -1%;
  height: 60px;
  width: 50px;
  background-color : rgb(136, 136, 136);

color: white;


}




@media only screen and (min-device-width : 0px) and (max-device-width : 1000px) {
  header{
  
    position: relative;
    position: fixed;
    display: flex;

    flex-wrap: wrap;
 
    height: auto;
   
    }

    /* header .logo */
header .logo{
  position: relative;
  width: 17vw;
  height:8vw;
  margin-left: 3%;
  margin-top: 2%;
  cursor: pointer;
  }
  header .search{
    position: relative;
    width: 77%;
    }


    header .search i{
      position: absolute;
      top: 25%;
      color: rgb(255, 0, 0);
      font-size: 5vw;
      left: 13%;
      }
      
      header .search input{
      margin-left: 10%;
      width: 85%;
      margin-top: 2%;
      height: auto;
      text-transform: uppercase;
      border: 2px solid rgb(243, 11, 11);
      outline: none;
      font-size: 3.4vw;
      padding: 2% 2%;
      padding-left: 10%;
      }
      /* not item inside search */
#searchHeading{
 
  font-size: 4vw;

  }
  header .search .suggestion{
    display: none;
    position: absolute;
    top: 85%;
    left: 10%;
    z-index: 99;
    height: 31vw;
    overflow: hidden;
    text-transform: uppercase;
    width: 85%;

    }
    
    
    
    
    header .search .suggestion li{
  
    font-size: 4vw;

    }
    header .search .suggestion .fixed{
    position: absolute;
    top: 25%;
    left: 5%;
    }
    





    
/* links */
header .links{
  position: relative;
  list-style: none;
  display: flex;
  width: 90%;
  margin-left: 5%;
  }
  header .links li{
  position: relative;
  margin-right: 2%;
  width: auto;
  cursor: pointer;
  height: auto;
  margin-left: 1%;
  
  }
  
  
  header .links  #user{
  display: flex;
  height: auto;
  position: relative;
  margin-bottom: 2%;
  width: 40%;
  }
  header .links #user img{
  border-radius: 60px;
  }
  
  header .links #login{
  display: flex;
  height: auto;
  position: relative;
  width: 37%;
  font-size: 2vw;
  }
  
  
header .links #login i{
  margin-left: 20%;
  font-size: 5vw;
}
  
/* user profile */
.profileImg{

  position: relative;
  margin-top: 20%;
  width: 8vw;
  height: 8vw;
  border-radius: 60px;
  margin-left: 7%;
}
  
  
  
  
  header .links li i{
  font-size: 4vw;
  color: rgb(255, 98, 0);
  line-height: 10vw;
  cursor: pointer;
  }
  header .links li .heading{
  color: rgb(255, 98, 0);
  font-weight: 600;
  font-size: 3vw;
  
  }
  header .links li #heading1{
  position: absolute;
  top: -65%;
  left: 40%;
  color: rgb(255, 98, 0);
  font-weight: 600;
  font-size: 3vw;
  margin-top: 27%;
  }
  header .links li #heading2{
  position: absolute;
  top: -68%;
  left: 40%;
  color: rgb(255, 98, 0);
  font-weight: 600;
  font-size: 4vw;
  margin-top: 27%;
  }
  header .links .cart{
  position: absolute;
  top: 20%;
  right: 1%;
  color: rgb(255, 0, 0);
  font-size: 5vw;
  cursor: pointer;
  }
  
  header .links #count{
  position: absolute;
  top: 0%;
  right: -10%;
  border-radius: 60px;
  width: 50%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2vw;
  }
  
  

/* header page */
header .pages{
  position: absolute;
  top:100%;
  left: 0;
  display: flex;

  width: 100%;
  height: auto;
  padding-bottom: 2%;
  margin-left: 0%;
  background-color: #fff;
  display: none;
  }
  
  header .pages .page{
  width: 25%;
  list-style: none;
  }
  
  header .pages .page h1{
  font-size: 3.6vw;
  padding-left:5%;
  margin-bottom: 2%;
  font-weight: 700;
  color: rgb(0, 0, 0);
  }
  
  header .pages .page li{
  font-size: 3.5vw;
  margin-top: 5%;
  z-index: 98;
  font-weight: 600;
  color: rgb(66, 66, 66);
  padding-left: 5%;
  transition: all 0.2s;
  }
  header .pages .page li:hover{
  color: red;
  padding-left: 18%;
  }
  

/* clientOption */
header .clinetOption{
  position: absolute;

  top: 100%;


  width:auto;

  padding-bottom: 2%;

  }
  
  
  header .clinetOption div{
  width: 40%;
  margin-top: 3%;
  margin-left: 5%;
  }
  
  
  header .clinetOption div i{
  font-size: 4vw;
  padding-left: 40%;
  }
  header .clinetOption div h1{
  font-size: 3vw;

  }

  
  

/* footer */
footer{
  clear: both;
  height: auto;
  padding-bottom: 3%;
  background-color: #1a1a1a;
  }
  footer .footer{
  position: relative;
  width: 100%;
  display: flex;
  height: auto;
  
  }
  /* lega */
  footer .footer .legal{
  padding-left: 5%;
  width: 33%;
  list-style: none;
  }
  footer .footer .legal h1{
  margin-top: 15%;
  font-size: 4vw;
  color: white;
  margin-left: 4%;
  margin-bottom: 6%;
  }
  footer .footer .legal li{
  margin-top: 4%;
  text-align: left;
  font-size: 3.5vw;
  color: white;
  margin-bottom: 2%;
  }
 

  
  
  
  
  /* menu */
  footer .footer .menu{
  padding-left: 5%;
  width: 33%;
  list-style: none;
  }
  
  footer .footer .menu h1{
  margin-top: 15%;
  font-size: 4vw;
  color: white;
  margin-left: 2%;
  margin-bottom: 6%;
  }
  footer .footer .menu li{
  margin-top: 4%;
  text-align: left;
  font-size: 3.5vw;
  color: white;
  margin-bottom: 2%;
  }

  /* timing */
  footer .footer .timing{
  width: 40%;
  list-style: none;
  }
  footer .footer .timing h1{
  margin-top: 12%;
  font-size: 4vw;
  color: white;
  margin-bottom: 4%;
  }
  footer .footer .timing li{
  display: block;
  margin-top: 2%;
  text-align: left;
  font-size: 3.5vw;
  color: white;
  margin-bottom: 2%;
  }
  
  
  
  footer .copyright{
  width: 100%;
  margin-top: 5%;
  display: flex;
  font-size: 2vw;
  font-weight: 600;
  color: white;
  }
  footer .copyright hr{
  width: 10%;

  }
  
  
  }