.order {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  margin-bottom: 5%;
}
.order h1 {
  width: 100%;
  text-align: center;
  font-size: 35px;
  padding-top: 1%;
  color: rgb(90, 90, 90);
}
.order .cardSection {
  clear: both;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.order .cardSection .food {
  width: 300px;
  cursor: pointer;
  height: auto;
  margin-bottom: 3%;
  border: 1px solid rgb(141, 141, 141);
  box-shadow: 0px 0px 10px rgb(227, 227, 227);
  transition: all 0.5s;
}

.order .cardSection .food:hover .imgs {
  box-shadow: 0px 0px 10px rgb(227, 227, 227);
  scale: 1.1;
}
.order .cardSection .food:hover h1 {
  color: red;
}
.order .cardSection .food .imgs {
  position: relative;
  width: 100%;
  height: 20vw;
  margin-left: 0%;
  transition: all 0.5s;
}

.order .cardSection .food h1 {
  transition: all 0.5s;
  margin-top: 1%;
  margin-bottom: 10%;
  text-transform: uppercase;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .order {
    margin-top: 20vw;
  }
  .order h1 {
    font-size: 6vw;
  }
  .order .cardSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .order .cardSection .food {
    width: 40vw;

    margin-bottom: 6%;
  }

  .order .cardSection .food .imgs {
    height: 40vw;
  }

  .order .cardSection .food h1 {
    margin-bottom: 8%;

    font-size: 5vw;
  }
}
