.term{
width: 80%;
margin-left: 10%;
margin-top: 6%;
padding-bottom: 3%;
}
.term h1{
font-size: 40px;
color: rgb(74, 74, 74);
text-align: center;}

.term p{
margin-top: -1%;
font-size: 18px;
text-align: left;
color: rgb(74, 74, 74);
}

.term h3{
font-size: 25px;
text-align: left;
color: rgb(74, 74, 74);
}

.term h5{
font-size: 20px;
text-align: left;
color: rgb(74, 74, 74);
}

@media only screen and (min-device-width : 0px) and (max-device-width : 1000px) {

    .term{
        width: 100%;
        margin-left: 0%;
        margin-top: 25vw;
        padding-bottom: 3%;
        }
        .term h1{
        font-size: 4vw;
        }
        
        .term p{
            width: 92%;
            margin-left: 4%;
        
        font-size: 3vw;
        }
       .term li{
            width: 92%;
            margin-left: 1%;
        
        font-size: 3vw;  
        }
        .term h2{
            font-size: 4vw;
       margin-left: 4%;
        }
        .term h3{
            font-size: 4vw;
       margin-left: 4%;
        }
        
        .term h5{
            font-size: 4vw;
            margin-left: 4%;
        }
}